* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 5%;
}

.header {
    background-color:rgb(117, 247, 247) ;
    padding: 3%;
       &__titulo {
           text-align:center;
           color: wheat;
    }
}

.subtitulo {
    text-align: center;
}
.noticia__back {
    background-image: url(assets/img/digital.jpg) ;
    background-repeat:no-repeat;
    background-size: 100em;
    height:50rem ;
    &__titulo2 {
        text-align:center;
    }


}